@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');
:root{
	--k:#223;--w:#ffd;--s:#aaac;
	--ac0:#6ca;--ac1:#6be;--ac2:#baf;--ac3:#e9b;--ac4:#e97;--ac5:#bb6;
	--ac:var(--ac0);
	--bor:max(2px,.2em);
	--iconl:url("https://mcbeeringi.dev/img/icon.svg");
	--icond:url("https://mcbeeringi.dev/img/icon.svg#!");
	--tf:cubic-bezier(0,0,0,1.5);
	--bc:var(--w);--fc:var(--k);--iimg:var(--iconl);
	color:var(--fc);background:0 0/5cm url("../img/cross.svg") var(--bc);
	font-family:"Zen Maru Gothic",sans-serif;
	text-shadow:0 0 var(--bor) var(--bc),0 0 var(--bor) var(--bc);
}
@media(prefers-color-scheme:dark){
	:root{--bc:var(--k);--fc:var(--w);--iimg:var(--icond);}
	:link{color:#8cf;}:visited{color:#c8f;}:link:active,:visited:active{color:#f8c;}
}
@keyframes s9{0%{transform:scale(.9);}}

hr{border:2px solid var(--s);border-radius:2px;}

.box{
	padding:16px;
	border-radius:32px;
	position:relative;
	backdrop-filter:blur(1px);
	overflow:hidden;
}
.box::before{
	content:"";display:block;position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;
	background-color:var(--ac);
	opacity:.5;
}

.item{
	display:grid;
	grid-template-columns:repeat(auto-fill,minmax(min(170px,100%),1fr));
	gap:16px;
}
.item>*{
	box-shadow:0 0 0 var(--bor) var(--s) inset;
	padding:8px;
	border-radius:16px;
	transition:background-color .2s,transform .3s var(--tf);
	animation:s9 .3s var(--tf);
	outline:none;
}
.item>:focus,.item>:active{
	transform:scale(1.05);
	background-color:var(--ac);
}
@media(hover:hover){
	.item>:hover{
		transform:scale(1.05);
		background-color:var(--bc);
	}
	.item>:active{
		transform:scale(.95);
		background-color:var(--ac);
	}
}
.item>a{color:var(--fc) !important;text-decoration:none;}
.item>*>*,.item>::before{
	margin:var(--bor) 0 0;display:block;
	border-radius:8px;
	padding:8px;
}
.item>::before{
	margin:0;
	content:"";display:block;padding:0;padding-top:100%;
	background:no-repeat center/cover var(--img,var(--iimg));
	box-shadow:0 0 0 4px var(--bc) inset;
}
.item>*>:first-child{
	font-size:larger;
	font-weight:bold;
	overflow:hidden;
	box-shadow:0 0 0 4px var(--bc) inset;
	position:relative;
}
.item>a>:first-child{text-decoration:underline;}
.item>*>:first-child::before{
	content:"";display:block;position:absolute;top:0;left:0;right:0;bottom:0;z-index:-1;
	background-color:var(--ac);
	opacity:.8;
}


.item>:nth-child(1n){--ac:var(--ac1);}
.item>:nth-child(2n){--ac:var(--ac2);}
.item>:nth-child(3n){--ac:var(--ac3);}
.item>:nth-child(5n){--ac:var(--ac4);}
.item>:nth-child(7n){--ac:var(--ac5);}
.item>:nth-child(7n+4){--ac:var(--ac5);}
.item>:nth-child(11n){--ac:var(--ac0);}
